<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>

	<resource-env-ref>
		<description>DataSource</description>
		<resource-env-ref-name>jdbc/waiDB</resource-env-ref-name>
		<resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
	</resource-env-ref>

	<servlet>
		<servlet-name>WebcamList</servlet-name>
		<servlet-class>servlets.WebcamList</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>WebcamEdit</servlet-name>
		<servlet-class>servlets.WebcamEdit</servlet-class>
	</servlet>
	
		<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>servlets.ImageServlet</servlet-class>
	</servlet>
	
	<servlet>
    	<servlet-name>BenutzerList</servlet-name>
   	 	<servlet-class>servlets.BenutzerList</servlet-class>
  	</servlet>
  	<servlet>
    	<servlet-name>BenutzerEdit</servlet-name>
    	<servlet-class>servlets.BenutzerEdit</servlet-class>
  	</servlet>
  	
 	<servlet-mapping>
    	<servlet-name>BenutzerList</servlet-name>
    	<url-pattern>/listBenutzer</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
    	<servlet-name>BenutzerEdit</servlet-name>
    	<url-pattern>/editBenutzer</url-pattern>
  	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>WebcamList</servlet-name>
		<url-pattern>/jsp/listCam</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>WebcamList</servlet-name>
		<url-pattern>/listCam</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>WebcamEdit</servlet-name>
		<url-pattern>/jsp/editCam</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>WebcamEdit</servlet-name>
		<url-pattern>/editCam</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>ImageServlet</servlet-name>
	    <url-pattern>/imageServlet</url-pattern>
  	</servlet-mapping>

	<listener>
		<listener-class>utils.SystemStartup</listener-class>
	</listener>

</web-app>